<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Controle de materiaisi</title>
</head>
<body>

	<div id="cabecalho" class="page-header" th:fragment="cabecalho">
		<header>
			<div class="container">
				<h1>Spring security do controle de materiais</h1>
			</div>
		</header>
	</div>

	<div id="menu" th:fragment="menu">
		<nav>
			<div class="container">
				<ul>
					<li><a href="#" th:href="@{/}">Início</a></li>
					<li sec:authorize="hasRole('ADMINISTRATIVO')"><a href="#"
						th:href="@{/administrativo}">Administrativo</a></li>
					<li sec:authorize="hasRole('ESTOQUE')"><a href="#"
						th:href="@{/estoque}">Estoque</a></li>
					<li sec:authorize="hasRole('VENDAS')"><a href="#"
						th:href="@{/vendas}">Vendas</a></li>
					<li sec:authorize="!isAuthenticated()"><a href="#"
						th:href="@{/login}">Login</a></li>
				</ul>
			</div>
		</nav>
	</div>


	<div id="rodape" th:fragment="rodape">
		<footer class="bottom">
			<!-- 			<div class="footer-copyright"> -->
			<div class="container">
				<p>Exemplo spring security&copy;, por Prof. Fernando Soares</p>
			</div>
			<!-- 			</div> -->
		</footer>
	</div>

</body>
</html>